@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lucida Bright";
}
.container {
  max-width: 1200px;
  margin: 34px auto;
  padding-left: 20px;
  padding-right: 20px;
}
.notifacation {
  position: relative;
  cursor: pointer;
}
.notifacation::before {
  content: "";
  position: absolute;
  top: 0;
  right: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ab3333;
}
.file-input {
  appearance: none;
  border: none;
  outline: none;
  display: none;
}
input[type="file"] {
  display: none;
}
.box{
  margin-left: 25%;
}
.box img {
  max-width: 500px;
  max-height: 300px;
  object-fit: contain;
  display: none;
}


.select:hover{
  outline:none;
}
.cardParent{
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(200px  , 1fr));
}
@media (max-width:1200px){
  .cardParent{
    grid-template-columns: repeat(auto-fill , minmax(175px  , 1fr));
  }
}
@media (max-width:767px){
  .cardParent{
    grid-template-columns: repeat(auto-fill , minmax(150px  , 1fr));
  }

  .box{
    display:flex;
    margin-left: 0;
    justify-content: center;
    align-items: center;
  }
  .box img{
    max-width: 250px;
    max-height: 150px;
  }
}
@layer utilities {
  .nav {
    @apply flex justify-between items-center;
  }
  .ul-list {
    @apply list-none flex flex-1 items-center gap-5 justify-center;
  }
  .ul-item {
    @apply cursor-pointer text-[19px] font-primary;
  }
  .nav-info {
    @apply flex items-center gap-5;
  }
  .card {
    @apply xl:max-w-[220px]  xl:h-[275px] h-[230px] rounded-xl border-2 border-[#E3E2E0] p-5  cursor-pointer;
  }
  .input-addItem {
    @apply border-2 border-[#E3E2E0] xl:text-xl md:max-w-[75%]  xl:max-w-[445px] h-[35px] block p-6 rounded-lg focus:outline-none;
  }
  .select-item{
   @apply  p-[13px] block  md:w-[75%] xl:w-[445px] w-full h-[52px] text-lg text-[#453A3C] cursor-pointer font-primary focus:outline-none border-2 border-gray-300 rounded-lg
  }
  .save-btn{
    @apply bg-[#AB3333]  w-[180px] py-1 font-primary mt-10 text-white text-xl rounded-md
  }
  .rose-colors{
    @apply w-3 h-3 rounded-full block
  }
}
